/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

/* == VARIABLES  */
/* == GENERAL MIXINS  */
/* == KEYFRAMES  */
/* == FONT  */
/* == GENERAL  */
/* == HEADER  */
/* == SECTION LOCATION  */
/* == SECTION HOWTO  */
/* == SECTION RESTAURANTS  */
/* == SECTION RESTAURANT-MENU  */
/* == FOOTER  */

/* ---------------------------------------- */
/* ==          VARIABLES             */
/*---------------------------------------- */

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$primary-background-color: #fff;
$secondary-background-color: #f6f6f6;
$location-user-background-color: #eaeaea;
$card-background-color: #fff;
$footer-background-color: #353535;

$dark-text-color: #000;
$light-text-color: #fff;

$back-arrow-color: #2c2c2c;

$howto-card-icon-color: #7e7e7e;

$box-shadow-color: #aaa;

$font-size: (
	mobile: 4vw,
	tablet: 2vw,
	desktop: 1rem,
);

$breakpoints: (
	tablet: 600px,
	desktop: 1200px,
);

/* ---------------------------------------- */
/* ==        GENERAL MIXINS            */
/*---------------------------------------- */
@mixin tablet-breakpoint {
	@media screen and (min-width: map-get($breakpoints, tablet)) {
		@content;
	}
}
@mixin desktop-breakpoint {
	@media screen and (min-width: map-get($breakpoints, desktop)) {
		@content;
	}
}

@mixin main-margin-padding {
	margin-right: 1.25rem;
	margin-left: 1.25rem;
	padding: 1.625rem 0 1.5rem;
}

@mixin no-margin {
	margin: 0;
}

@mixin primary-box-shadow($color: $box-shadow-color) {
	box-shadow: 0.1rem 0.1rem 0.5rem 0 $color;
}

@mixin ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@mixin flex-wrap-space-between {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* ---------------------------------------- */
/* ==           KEYFRAMES               */
/*---------------------------------------- */

/* Animation du fond du loader => */
@keyframes loader-container {
	70% {
		opacity: 1;
	}
	99%,
	100% {
		opacity: 0;
	}
	70%,
	99% {
		transform: scale(1);
	}
	100% {
		transform: scale(0); /* Pour que le loadeur disparaisse à la fin de l'animation */
	}
}
/* <= Animation du fond du loader */

/* Animation de rotation du loader => */
@keyframes loader-rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(1turn);
	}
}
/* <= Animation de rotation du loader */

/* Animation d'apparition des parties des menus => */
@keyframes menu-appear {
	from {
		opacity: 0;
		transform: translateX(5rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
/* <= Animation d'apparition des parties des menus */

/* ---------------------------------------- */
/* ==              FONT                 */
/*---------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

@mixin main-typography {
	font-family: "Roboto", serif;
	font-size: map-get($font-size, mobile);
	@include tablet-breakpoint {
		font-size: map-get($font-size, tablet);
	}
	@include desktop-breakpoint {
		font-size: map-get($font-size, desktop);
	}
}

@mixin title-typography {
	font-family: "Shrikhand", serif;
}

html {
	@include main-typography;
}

h1 {
	@include title-typography;
}
.restaurant-menu__title {
	@include title-typography;
}
.footer__title {
	@include title-typography;
}

/* ---------------------------------------- */
/* ==            GENERAL                */
/*---------------------------------------- */
body {
	box-sizing: border-box; /* Indique au navigateur de prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur et la hauteur */
	@include no-margin;
	background-color: $primary-background-color;
}

img {
	width: 100%;
	height: auto;
}

h1 {
	@include no-margin;
}

h2 {
	@include no-margin;
}

h3 {
	@include no-margin;
}

h4 {
	@include no-margin;
}

h5 {
	@include no-margin;
}

h6 {
	@include no-margin;
}

h1 {
	font-size: 200%;
	font-weight: 500;
}

h2 {
	font-size: 175%;
	letter-spacing: -0.05rem;
}

a {
	color: $dark-text-color;
}

.main-container {
	max-width: 1440px;
	margin: 0 auto;
}

.header-container {
	@include main-margin-padding;
}

.location-container {
	@include main-margin-padding;
}

.howto-container {
	@include main-margin-padding;
}

.restaurants-container {
	@include main-margin-padding;
}

.footer-container {
	@include main-margin-padding;
}

.button {
	color: $light-text-color;
	background: linear-gradient(170deg, $secondary-color, $primary-color);
	border: none;
	font-size: 100%;
	@include primary-box-shadow;
	padding: 1rem 2rem;
	border-radius: 1.5rem;
	cursor: pointer;
	transition: opacity 300ms ease-in-out, transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
	&:hover {
		opacity: 0.8;
		transform: translateY(-0.1rem);
		@include primary-box-shadow(darken($box-shadow-color, 30%));
	}
	&:active {
		transform: translateY(0rem);
		opacity: 1;
		border: none;
	}
}

.no-puce {
	list-style: none;
	padding-left: 0;
}

.loader {
	animation: loader-rotate 1s infinite linear; /* L'animation s'effectue à vitesse constante*/
	border-radius: 50%;
	border: 1rem solid $secondary-color;
	border-left: 1rem solid $primary-color;
	width: 10rem;
	height: 10rem;
	&-container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed; /* Pour que le loadeur soit toujours à la meme position sur l'écran */
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: adjust-color($tertiary-color, $alpha: -0.6);
		animation: loader-container forwards 2s; /* La cible retiendra les valeurs calculées définies lors de la dernière étape */
		z-index: 99;
	}
}

@mixin heart-color {
	background: linear-gradient(30deg, $secondary-color, $primary-color); /* Couleur des coeurs */
	-webkit-background-clip: text; /* Applique la couleur du background au texte (les coeurs sont du texte) */
	color: transparent; /* Applique la couleur du background au texte (les coeurs sont du texte) */
}

.heart {
	&-container {
		position: relative;
	}
	position: absolute; /* Pour que les coeurs aient la meme position */
	top: 0;
	right: 0;
	cursor: pointer;
	z-index: 1; /* Pour que le coeur vide reste toujours en avant */
	&--card {
		-webkit-text-stroke: 0.05rem $card-background-color; /* Réduit l'épaiseur des contours du coeur vide */
	}
	&--menu {
		-webkit-text-stroke: 0.05rem $secondary-background-color; /* Réduit l'épaiseur des contours du coeur vide */
	}
	&:hover {
		@include heart-color;
		-webkit-text-stroke: 0; /* Supprime le text-stroke au survol */
		+ .heart-full {
			transform: scale(1); /* Permet l'apparition du coeur plein */
		}
	}
	&-full {
		position: absolute; /* Pour que les coeurs aient la meme position */
		top: 0;
		right: 0;
		@include heart-color;
		transform: scale(0); /* Permet l'apparition du coeur plein */
		transition: transform 300ms ease-in-out;
	}
}

/* ---------------------------------------- */
/* ==            HEADER                */
/*---------------------------------------- */
.header {
	position: sticky;
	top: 0;
	left: 0;
	box-shadow: 0 0 0.25rem 0.125rem darken($box-shadow-color, 20%);
	background: $primary-background-color;
	z-index: 98;
	&-container {
		padding: 1rem 0 0.25rem 0;
	}
}

nav {
	ul {
		@include no-margin;
		display: flex;
	}
}

.main-title {
	&-container {
		margin: 0 auto;
	}
}

.back-arrow {
	position: absolute;
	bottom: 1.25rem;
	left: 1.25rem;
	color: $back-arrow-color;
	transition: opacity 300ms ease-in-out, transform 200ms ease-in-out;
	font-size: 125%;
	&:hover {
		opacity: 0.6;
		transform: scaleX(1.1);
	}
}

/* ---------------------------------------- */
/* ==        SECTION LOCATION            */
/*---------------------------------------- */

.location {
	background-color: $secondary-background-color;
	text-align: center;
	&-user {
		background-color: $location-user-background-color;
		padding: 1rem 0;

		&__city {
			font-weight: bold;
			margin-left: 0.75rem;
		}
		.fa-map-marker-alt {
			margin-left: -2rem;
		}
	}
	&-container {
		padding-top: 2.75rem;
		padding-bottom: 3.75rem;
		@include tablet-breakpoint {
			padding-top: 1.375rem;
			padding-bottom: 1.875rem;
		}
		.subtitle {
			font-size: 125%;
			font-weight: 300;
			margin-bottom: 1.75rem;
			margin-top: 0.5rem;
		}
	}
}

/* ---------------------------------------- */
/* ==         SECTION HOWTO             */
/*---------------------------------------- */

.howto {
	.title {
		margin-bottom: 1.25rem;
	}
}
.howto-card {
	&-container {
		@include tablet-breakpoint {
			@include flex-wrap-space-between;
		}
	}
	display: flex;
	align-items: center;
	background-color: $secondary-background-color;
	@include primary-box-shadow;
	position: relative;
	margin-bottom: 1.625rem;
	margin-left: 0.5rem;
	border-radius: 1rem;
	padding: 1.875rem 0;
	@include tablet-breakpoint {
		width: 30%;
		padding: 0.9375rem 0;
	}
	@include desktop-breakpoint {
		width: 32%;
		padding: 1.875rem 0;
	}

	&:hover {
		&::after {
			opacity: 1;
		}
		.howto-card {
			&__icon {
				color: $primary-color; /* Change la couleur de l'icone au survol de la carte */
			}
		}
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 1rem;
		background-color: adjust-color($primary-color, $alpha: -0.8);
		opacity: 0;
		transition: opacity 300ms ease-in-out;
	}
	&__number {
		background-color: $primary-color;
		border-radius: 50%;
		color: $light-text-color;
		font-size: 85%;
		padding: 0.375rem 0.625rem;
		position: absolute;
		left: -1rem;
		bottom: 50%;
		transform: translate(0, 50%);
	}
	&__icon {
		color: $howto-card-icon-color;
		font-size: 125%;
		text-align: center;
		padding: 0 2rem;
		width: 1.25rem;
		transition: color 200ms 100ms ease-in-out;
	}
	&__text {
		font-weight: bold;
	}
}

/* ---------------------------------------- */
/* ==      SECTION RESTAURANTS          */
/*---------------------------------------- */
.restaurants {
	background-color: $secondary-background-color;
	.title {
		margin-bottom: 1.5rem;
	}
}

.card {
	&-container {
		@include tablet-breakpoint {
			@include flex-wrap-space-between;
		}
	}
	background-color: $card-background-color;
	transition: transform 300ms ease-in-out;
	position: relative;
	@include primary-box-shadow;
	cursor: pointer;
	border-radius: 1rem;
	margin-bottom: 1.25rem;
	@include tablet-breakpoint {
		width: 49%;
	}
	@include desktop-breakpoint {
		width: 24%;
	}
	h2 {
		font-size: 150%;
	}
	a {
		color: $dark-text-color;
		text-decoration: none;
	}
	&:hover {
		transform: scale(1.048);
	}
	&__new {
		position: absolute;
		top: 1rem;
		right: 1rem;
		background-color: $tertiary-color;
		color: darken($tertiary-color, 40%);
		font-weight: bold;
		padding: 0.375rem 0.75rem;
		border-radius: 0.125rem;
	}
	&__img-container {
		img {
			object-fit: cover;
			border-radius: 1rem 1rem 0 0;
			height: 11.75rem;
		}
	}
	&__text-container {
		display: flex;
		justify-content: space-between;
		padding: 0.75rem;
	}
	&__title {
		margin-bottom: -0.75rem;
	}
	&__district {
		margin-bottom: 0;
	}
	&__favorite {
		font-size: 175%;
		margin-top: 0.125rem;
		margin-right: 0.75rem;
	}
}

/* ---------------------------------------- */
/* ==    SECTION RESTAURANT-MENU        */
/*---------------------------------------- */

.restaurant-picture {
	img {
		object-fit: cover;
		height: 18.5rem;
	}
}

@mixin menu-appear($delay: 0ms) {
	animation: menu-appear 1000ms $delay both ease-in-out; /* L'animation respectera les règles qui s'appliquent à forwards et backwards, entraînant ainsi l'extension des propriétés de l'animation dans les deux directions. */
}

@mixin menu-width {
	@include tablet-breakpoint {
		width: 48%;
	}
	@include desktop-breakpoint {
		width: 32%;
	}
}

.starter {
	@include menu-appear;
	@include menu-width;
}

.main-course {
	@include menu-appear(1500ms);
	@include menu-width;
}

.dessert {
	@include menu-appear(3000ms);
	@include menu-width;
}

.restaurant-menu {
	background-color: $secondary-background-color;
	&-container {
		background-color: $secondary-background-color;
		position: relative;
		margin-top: -4rem; /* Monte le menu sur l'image */
		padding: 2rem 0.75rem 4rem 1.25rem;
		border-radius: 2rem 2rem 0 0;
		box-shadow: 0.8rem 0 0.8rem -1rem $box-shadow-color, -0.8rem 0 0.8rem -1rem $box-shadow-color;
		@include tablet-breakpoint {
			@include flex-wrap-space-between;
		}
	}
	&__title {
		&-container {
			@include tablet-breakpoint {
				width: 100%;
			}
		}
		display: flex;
		justify-content: space-between;
		margin-right: 1.5rem;
		margin-bottom: 2rem;
		letter-spacing: 0.05rem;
	}
	&__subtitle {
		font-weight: 300;
		text-transform: uppercase; /* Force les majuscules */
		border-bottom: 3px solid $tertiary-color;
		width: 3rem;
		margin: 1rem 0;
		padding-bottom: 0.5rem;
	}
}

.card-menu {
	overflow: hidden;
	height: 4rem;
	margin-bottom: 1rem;
	@include tablet-breakpoint {
		width: 100%;
	}
	&-container {
		margin-bottom: 2.25rem;
	}
	&__dish-title-container {
		padding: 0.5rem;
		width: 80%;
		transition: width 500ms 100ms ease-in-out;
	}
	&__title {
		font-size: 125%;
		letter-spacing: -0.025rem;
		@include ellipsis;
	}
	&__subtitle {
		@include ellipsis;
	}
	&__dish-price {
		&-check-container {
			display: flex;
			position: absolute;
			top: 0;
			right: -4rem;
			transition: transform 500ms 100ms ease-in-out;
		}
		display: flex;
		align-items: flex-end;
		font-size: 100%;
		font-weight: bold;
		margin-bottom: 1rem;
		margin-right: 1rem;
	}
	&__check {
		background-color: $tertiary-color;
		width: 4rem;
		height: 4rem;
		border-radius: 0 1rem 1rem 0;
		position: relative;
		.fa-check {
			background-color: $card-background-color;
			border-radius: 50%;
			color: $tertiary-color;
			position: absolute;
			top: 50%;
			left: 50%;
			padding: 0.25rem;
			transform: translate(-50%, -50%) rotate(0deg);
			transition: transform 600ms ease-in-out;
		}
	}
	&:hover {
		.card-menu {
			&__dish-title-container {
				width: 65%;
				@include desktop-breakpoint {
					width: 70%;
				}
			}
			&__dish-price-check-container {
				transform: translateX(-4rem);
			}
		}
		.fa-check {
			transform: translate(-50%, -50%) rotate(1turn);
		}
	}
}

.order-button {
	padding: 1rem 3.5rem;

	&-container {
		text-align: center;
		width: 100%;
	}
}

/* ---------------------------------------- */
/* ==            FOOTER                */
/*---------------------------------------- */
.footer {
	background-color: $footer-background-color;
	color: $light-text-color;
	a {
		color: $light-text-color;
		text-decoration: none;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 0.1rem;
			bottom: -0.1rem;
			left: 0;
			background-color: #fff;
			visibility: hidden;
			transform: scaleX(0);
			transition: transform 300ms ease-in-out, visibility 300ms ease-in-out;
		}
		&:hover:before {
			visibility: visible;
			transform: scaleX(1);
		}
	}
	&-container {
		padding: 1.25rem 0;

		@include tablet-breakpoint {
			text-align: center;
		}
	}
	&__title {
		font-weight: normal;
	}
	ul {
		margin-top: 1.25rem;
		@include tablet-breakpoint {
			display: flex;
			justify-content: space-between;
		}
		li {
			margin-bottom: 0.625rem;
			@include tablet-breakpoint {
				width: 25%;
			}
		}
	}
	.fas {
		text-align: center;
		width: 1.5rem;
	}
}
