/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */
/* == COLOR CODES  */
/* == KEYFRAMES  */
/* == FONT  */
/* == GENERAL  */
/* == HEADER  */
/* == SECTION LOCATION  */
/* == SECTION HOWTO  */
/* == SECTION RESTAURANTS  */
/* == SECTION RESTAURANT-MENU  */
/* == FOOTER  */
/* == MEDIA QUERIES  */
/* ---------------------------------------- */
/* ==       COLOR VARIABLES           */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==           KEYFRAMES               */
/*---------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@-webkit-keyframes revelation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes revelation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes check-rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes check-rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes check-appear {
  0% {
    right: -20vw;
  }
  100% {
    right: 0;
  }
}

@keyframes check-appear {
  0% {
    right: -20vw;
  }
  100% {
    right: 0;
  }
}

/* ---------------------------------------- */
/* ==              FONT                 */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==            GENERAL                */
/*---------------------------------------- */
body {
  margin: 0;
  font-size: 4vw;
  font-family: "Roboto", serif;
  background-color: #fff;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 8vw;
  font-weight: 500;
}

h2 {
  font-size: 7vw;
  letter-spacing: -0.2vw;
}

h1,
.restaurant-menu__title,
.footer__title {
  font-family: "Shrikhand", serif;
}

a {
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: #000;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header-container,
.location-container,
.howto-container,
.restaurants-container,
.footer-container {
  margin-right: 5vw;
  margin-left: 5vw;
  padding: 13vw 0 12vw;
}

.button {
  color: #fff;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  border: none;
  padding: 4vw 8vw;
  border-radius: 6vw;
  font-size: 4vw;
  -webkit-box-shadow: 1vw 1vw 2vw 0 #ddd;
          box-shadow: 1vw 1vw 2vw 0 #ddd;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
  -webkit-box-shadow: 2vw 2vw 2vw 0.5vw #ddd;
          box-shadow: 2vw 2vw 2vw 0.5vw #ddd;
}

.no-puce {
  list-style: none;
  padding-left: 0;
}

/* ---------------------------------------- */
/* ==            HEADER                */
/*---------------------------------------- */
.header {
  text-align: center;
  -webkit-box-shadow: 0 0 4vw 4vw #2c2c2c;
          box-shadow: 0 0 4vw 4vw #2c2c2c;
  position: relative;
  -webkit-box-shadow: 0 0 1vw 0.5vw #80808094;
          box-shadow: 0 0 1vw 0.5vw #80808094;
}

.header-container {
  padding: 4vw 0 1vw 0px;
}

nav ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-title-container {
  margin: 0 auto;
}

.back-arrow {
  position: absolute;
  bottom: 5vw;
  color: #2c2c2c;
  font-size: 5vw;
}

.back-arrow:hover {
  opacity: 0.8;
}

/* ---------------------------------------- */
/* ==        SECTION LOCATION            */
/*---------------------------------------- */
.location {
  background-color: #f6f6f6;
  text-align: center;
}

.location-user {
  background-color: #eaeaea;
  padding: 4vw 0;
}

.location-user__city {
  margin-left: 3vw;
  font-weight: bold;
}

.location-user .fa-map-marker-alt {
  margin-left: -8vw;
}

.location-container {
  padding-top: 11vw;
  padding-bottom: 15vw;
}

.location-container .subtitle {
  font-size: 5vw;
  margin-bottom: 7vw;
  font-weight: 300;
  margin-top: 2vw;
}

/* ---------------------------------------- */
/* ==         SECTION HOWTO             */
/*---------------------------------------- */
.howto .title {
  margin-bottom: 5vw;
}

.howto-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  border-radius: 4vw;
  margin-bottom: 6.5vw;
  margin-left: 2vw;
  -webkit-box-shadow: 1vw 1vw 2vw 0 #ddd;
          box-shadow: 1vw 1vw 2vw 0 #ddd;
}

.howto-card:hover {
  background-color: rgba(147, 86, 220, 0.2);
}

.howto-card:hover .howto-card__icon {
  color: #9356dc;
}

.howto-card__number {
  background-color: #9356dc;
  border-radius: 100%;
  padding: 1.5vw 2.5vw;
  color: #fff;
  font-size: 3.5vw;
  position: relative;
  right: 3vw;
}

.howto-card__icon {
  color: #7e7e7e;
  padding: 0 7vw 0 1.5vw;
  font-size: 5vw;
  width: 5vw;
  text-align: center;
}

.howto-card__text {
  font-weight: bold;
  padding: 7.5vw 0;
}

/* ---------------------------------------- */
/* ==      SECTION RESTAURANTS          */
/*---------------------------------------- */
.restaurants {
  background-color: #f6f6f6;
}

.restaurants .title {
  margin-bottom: 6vw;
}

.card {
  background-color: #fff;
  margin-bottom: 5vw;
  border-radius: 4vw;
  -webkit-box-shadow: 1vw 1vw 2vw 0 #ddd;
          box-shadow: 1vw 1vw 2vw 0 #ddd;
  cursor: pointer;
}

.card h2 {
  font-size: 6vw;
}

.card a {
  color: #000;
  text-decoration: none;
}

.card__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 9vw;
  background-color: #99e2d0;
  padding: 1.5vw 2.5vw;
  border-radius: 0.5vw;
  margin-top: 3.5vw;
  color: #008766;
  font-weight: bold;
}

.card__img-container img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4vw 4vw 0 0;
  height: 47vw;
}

.card__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3vw;
}

.card__title {
  margin-bottom: -2.5vw;
}

.card__favorite {
  font-size: 7vw;
  margin-top: 0.5vw;
  margin-right: 3vw;
}

.heart {
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-text-stroke: 0.2vw white;
}

.heart-color {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(30deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.heart:hover .heart-color {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.heart:hover {
  background: linear-gradient(30deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0 white;
}

/* ---------------------------------------- */
/* ==    SECTION RESTAURANT-MENU        */
/*---------------------------------------- */
.restaurant-picture img {
  height: 74vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.starter {
  -webkit-animation: revelation 1000ms both ease-in-out;
  animation: revelation 1000ms both ease-in-out;
}

.main-course {
  -webkit-animation: revelation 2000ms 1000ms both ease-in-out;
  animation: revelation 2000ms 1000ms both ease-in-out;
}

.dessert {
  -webkit-animation: revelation 3000ms 2000ms both ease-in-out;
  animation: revelation 3000ms 2000ms both ease-in-out;
}

.restaurant-menu {
  background-color: #f6f6f6;
}

.restaurant-menu-container {
  padding-left: 5vw;
  padding-right: 3vw;
  padding-top: 8vw;
  border-radius: 8vw 8vw 0 0;
  background-color: #f6f6f6;
  position: relative;
  top: -16vw;
}

.restaurant-menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 6vw;
  margin-bottom: 8vw;
  letter-spacing: 0.2vw;
}

.restaurant-menu__subtitle {
  font-weight: 300;
  width: 12vw;
  margin: 4vw 0;
  padding-bottom: 2vw;
  border-bottom: 3px solid #99e2d0;
  text-transform: uppercase;
}

.card-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 18vw;
  margin-bottom: 4vw;
  overflow: hidden;
}

.card-menu-container {
  margin-bottom: 9vw;
}

.card-menu__dish-title-container {
  padding: 2vw;
  overflow: hidden;
  width: 100%;
}

.card-menu__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 5vw;
  letter-spacing: -0.1vw;
}

.card-menu__subtitle {
  font-size: 3.5vw;
  margin-top: 4vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-menu__dish-price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 4vw;
  margin-left: auto;
  margin-right: 4vw;
  font-size: 4vw;
  font-weight: bold;
  z-index: 1;
}

.card-menu__dish-price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.card-menu:hover .check-appear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-menu:hover .card-menu__dish-price {
  -webkit-animation: check-appear 1s;
  animation: check-appear 1s;
}

.check-appear {
  display: none;
  background-color: #99e2d0;
  position: relative;
  -webkit-animation: check-appear 1s;
  animation: check-appear 1s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  right: 0;
  border-radius: 0 4vw 4vw 0;
  padding: 0 5vw;
  height: inherit;
}

.order-button {
  padding: 4vw 14vw;
}

.order-button-container {
  text-align: center;
}

.fa-check {
  -webkit-animation: check-rotate 1s ease-in-out;
  animation: check-rotate 1s ease-in-out;
  background-color: white;
  border-radius: 50%;
  color: #99e2d0;
  padding: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

/* ---------------------------------------- */
/* ==            FOOTER                */
/*---------------------------------------- */
.footer {
  background-color: #353535;
  color: #fff;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-container {
  padding: 5vw 0;
}

.footer__title {
  font-weight: normal;
}

.footer ul {
  margin-top: 5vw;
}

.footer ul li {
  margin-bottom: 2.5vw;
}

.footer .fas {
  width: 6vw;
  text-align: center;
}
